@use "palette" as *;

.battery-label {
  font-family: "IosevkaTermSlab Nerd Font";
  font-size: 13px;
}

.battery-full {
  color: $blonde;
}

.battery-medium {
  color: $blonde-dim;
}

.battery-low {
  color: $error;
}

.battery-charging {
  color: $blonde-light;
}
